@import bootstrap.min.css
@import spinner.scss

html, body
  font-family: 'Roboto', sans-serif!important

.search
  &__btn
    margin-bottom: 5px
    margin-right: 5px

.form-group
  label
    font-weight: 500

.hint
  color: #999

h2
  padding-bottom: 0.3em
  border-bottom: 1px solid #eee
