- @title = 'Value changing monitor &#128270;'

.container.m-t-1.m-b-2
  %ol.breadcrumb
    %li.breadcrumb-item= link_to 'Home', 'https://ecpplus.net'
    %li.breadcrumb-item.active Value changing monitor

  .row
    .col-sm-12
      .jumbotron
        %h1 Value changing monitor &#128270;
        %p.lead
          This is an super simple API which get you know some value changes!
          %br
          Once you create a resource, then only put value continuously. You will get notifications only on the value changes&#128516;
        %p
          = link_to 'Learn more on GitHub', 'https://github.com/ecpplus/value-changing-monitor', target: '_blank', rel: 'noopener', class: 'btn btn-primary'

      #form
